[user]
	email = enrico.troeger@uvena.de
	name = Enrico Tröger
[color]
	ui = true
[url "git://git.gnome.org/"]
	insteadof = gnome:
[url "ssh://git.xfce.org/git/"]
	insteadOf = xfce:
[alias]
    cl = clone
    st = status
    ci = commit
    co = checkout
    df = diff
    who = shortlog -s --
    up = pull --rebase
