[core]
	excludesfile = /home/enrico/.gitignore
	autocrlf = input
	quotepath = false
[user]
	email = enrico.troeger@uvena.de
	name = Enrico Tröger
[color]
	ui = true
[url "git://git.gnome.org/"]
	insteadof = gnome:
[url "git@github.com:geany/"]
	insteadOf = geany:
[url "git@github.com:eht16/"]
	insteadOf = eht16:
[alias]
	cl = clone
	st = status
	ci = commit
	co = checkout
	df = diff
	who = shortlog -s --
	up = pull --rebase
[push]
	default = simple
[pull]
	rebase = false
[include]
	path = ~/.gitconfig.local
[merge]
	summary = true
	verbosity = 1
