.main #header, #TipOfDay1, #TipOfDay2, #footer
{
	display:none!important;
	height: 0!important;
	padding: 0!important;
}

#main_right
{
	top: 0!important;
	left: 0!important;
}

#main_left, .header-left, #banner-top
{
	display: none!important;
	width: 0!important;
	height: 0!important;
	padding: 0!important;
}
